@use "../components/mixin" as *;

.aboutus {
  padding: 50px 20px;
  background-color: var(--text-colorwh);
  color: var(--text-colorbg);
}

.aboutus-header {
  @include header-style(var(--text-colorbg));
}

.aboutus-header::before {
  width: 40px;
}
.aboutus-namebl {
  margin-bottom: 30px;
}
.about-img {
  width: 462px;
  height: 483px;
}
.aboutus-hetext {
  @include text-style(var(--text-colorbg));
}

.aboutus-underblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutus-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
}

.aboutus-desheader {
  height: 36px;
  width: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.aboutus-main {
  display: block;
}

.aboutus-destext {
  line-height: 1.25;
  font-family: var(--text-body);
  font-size: 20px;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-bottom: 30px;
}

.aboutus-name-container {
  font-family: var(--text-body);
  font-size: 16px;
  letter-spacing: 0.03em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.aboutus-name {
  margin-bottom: 10px;
}

.icon-aboutus {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.aboutus-svg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  fill: var(--text-colorbg);
}

.aboutus-row-svg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  fill: var(--text-colorwh);
  background-color: var(--text-colorbg);
}

.aboutus-row-svg:not(:last-child) {
  margin-right: 20px;
}

@media (min-width: 768px) {
  .aboutus {
    padding: 100px 0px;
  }

  .aboutus-header::before {
    width: 60px;
  }
  .aboutus-namebl {
    margin-bottom: 30px;
  }

  .aboutus-underblock {
    flex-direction: row;
    justify-content: flex-start;
  }

  .aboutus-description {
    margin-left: 108px;
    padding-top: 178px;
  }

  .aboutus-main {
    display: flex;
  }

  .aboutus-destext {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .aboutus-name-container {
    font-size: 18px;
  }

  .icon-aboutus {
    justify-content: space-between;
  }

  .aboutus-svg {
    width: 55px;
    height: 55px;
  }

  .aboutus-row-svg {
    width: 55px;
    height: 55px;
  }
}

@media (min-width: 1200px) {
  .aboutus {
    padding: 125px 0px;
  }

  .aboutus-header::before {
    width: 80px;
  }
  .aboutus-namebl {
    margin-bottom: 0px;
  }

  .aboutus-description {
    margin-left: 158px;
    padding-top: 238px;
  }

  .aboutus-destext {
    font-size: 32px;
  }

  .aboutus-name-container {
    width: 100%;
    font-size: 20px;
    font-family: var(--text-body);
    letter-spacing: 0.03em;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .icon-aboutus {
    justify-content: space-between;
  }

  .aboutus-svg {
    width: 65px;
    height: 65px;
  }

  .aboutus-row-svg {
    width: 65px;
    height: 65px;
  }
}
