.footer {
  padding: 35px 0px;
  top: 0;
  width: 100%;
  position: relative;
  z-index: 1000;
}

.footer-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer_nav {
  flex-grow: 0;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
}

.footer::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  border-bottom: 1px solid var(--text-colorwh);
}

@media (min-width: 768px) {
  .footer-main {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer_nav {
    text-align: left;
    flex-grow: 1;
    margin-bottom: 0;
  }
}
