@use "../components/mixin" as *;

.home {
  padding: 60px 15px;
}
.home-content {
  background-image: url("/images/image19.jpg");
  background-size: 310px 100%;
  background-position: 60% 0%;
  background-repeat: no-repeat;
}
.home-left {
  width: 100%;
  padding-top: 60px;
}

.home-header {
  @include header-style(var(--text-colorwh));
}

.home-text {
  font-size: 16px;
  line-height: 1.4;
  width: 310px;
  color: #2c363f;
  font-weight: 300;
  z-index: 1;
  font-size: 12px;
  font-family: var(--text-body);
  line-height: 1.5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}
.home-follow {
  font-size: 18px;
}
.social-list {
  justify-content: center;
}
.iconhome-svg {
  width: 24px;
  height: 24px;
  fill: var(--text-colorwh);
}

.home-follow {
  color: #2c363f;
  font-weight: bold;
  font-size: 19px;
  font-family: var(--text-body);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}
.social-list {
  display: flex;
  justify-content: flex-start;
}

.iconhome-svg {
  width: 20px;
  height: 20px;
}

.social-list li:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 768px) {
  .home {
    padding: 100px 20px;
  }
  .home-header {
    @include header-style(var(--text-colorwh));
  }
  .home-content {
    background-size: 400px 100%;
    background-position: 80% 0%;
  }
  .home-left {
    width: 100%;
    padding-top: 80px;
  }
  .iconhome-svg {
    width: 30px;
    height: 30px;
  }

  .home-text {
    font-size: 20px;
    width: 510px;
  }
  .home-follow {
    font-size: 22px;
  }
  .social-list {
    gap: 20px;
  }
}

@media (min-width: 1200px) {
  .home {
    padding: 125px 0px;
  }
  .home-header {
    @include header-style(var(--text-colorwh));
  }
  .home-content {
    background-size: 620px 100%;
    background-position: 90% 0%;
  }
  .home-left {
    width: 100%;
    padding-top: 120px;
  }

  .home-text {
    width: 620px;
    font-size: 25px;
  }
  .home-follow {
    font-size: 24px;
  }
  .social-list {
    gap: 30px;
  }
}
