.keep {
  padding: 80px 0px;
}

.keep-main {
  text-align: center;
}

.keep-header {
  line-height: 1.25;
  font-family: var(--text-body);
  color: var(--text-colorwh);
  font-size: 32px;
  letter-spacing: 0.03em;
  font-weight: 700;
  margin-bottom: 20px;
  padding: 0px 20px;
}

.keep-button {
  padding: 16px 40px;
  background-color: var(--text-colorwh);
  color: var(--text-colorbg);
  line-height: 1.25;
  font-family: var(--text-body);
  font-size: 18px;
  letter-spacing: 0.03em;
  font-weight: 500;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .keep {
    padding: 120px 0px;
  }

  .keep-header {
    font-size: 48px;
    margin-bottom: 25px;
    padding: 0px 50px;
  }

  .keep-button {
    padding: 18px 45px;
    font-size: 22px;
  }
}

@media (min-width: 1200px) {
  .keep {
    padding: 200px 0px;
  }

  .keep-header {
    font-size: 72px;
    margin-bottom: 30px;
    padding: 0px 130px;
  }

  .keep-button {
    padding: 22px 50px;
    font-size: 28px;
  }
}
