@use "../components/mixin" as *;

.portfolio {
  padding: 40px 0px;
}

.portgolio-headerblock {
  margin-bottom: 20px;
}

.portgolio-header {
  @include header-style(var(--text-colorwh));
}

.portgolio-header::before {
  width: 40px;
}

.portgolio-hetext {
  @include text-style(var(--text-colorwh));
}

.portfolio-items {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.portfolio-blockimg {
  width: 100%;
  height: 250px;
}

.picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-description {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid var(--text-colorwh);
  border-top: none;
}

.portgolio-desheader,
.portgolio-desmain,
.portgolio-destext {
  color: var(--text-colorwh);
  font-family: var(--text-body);
  line-height: 1.71;
}

.portgolio-desheader {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.portgolio-desmain {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
}

.portgolio-destext {
  font-size: 14px;
  margin-bottom: 20px;
}

.know-more-container {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.know-more-text {
  font-size: 16px;
}

.icon-know {
  width: 35px;
  height: 35px;
  background-color: var(--text-colorwh);
  border-radius: 50%;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconknow-svg {
  top: 20px;
  right: 20px;
  width: 18px;
  height: 18px;
  fill: var(--text-colorbg);
}

@media (min-width: 768px) {
  .portfolio {
    padding: 80px 0;
  }

  .portgolio-headerblock {
    width: 50%;
  }

  .portgolio-header::before {
    width: 60px;
  }

  .portfolio-list {
    flex-direction: row;
    margin-bottom: 30px;
  }
  .portfolio-list:nth-child(odd) {
    flex-direction: row;
  }

  .portfolio-list:nth-child(even) {
    flex-direction: row-reverse;
  }

  .portfolio-blockimg {
    flex: 0 0 350px;
    height: 400px;
  }

  .portfolio-description {
    padding: 0px 40px;
    border: 1px solid var(--text-colorwh);
    border-top: 1px solid var(--text-colorwh);
    border-bottom: 1px solid var(--text-colorwh);
    border-left: none;
    border-right: none;
  }

  .portfolio-list:nth-child(odd) .portfolio-description {
    border-right: 1px solid var(--text-colorwh);
  }

  .portfolio-list:nth-child(even) .portfolio-description {
    border-left: 1px solid var(--text-colorwh);
  }
}

@media (min-width: 1200px) {
  .portfolio {
    padding: 125px 0;
  }

  .portgolio-headerblock {
    width: 25%;
  }

  .portgolio-header::before {
    width: 100px;
  }

  .portfolio-list {
    margin-bottom: 50px;
  }

  .portfolio-list:nth-child(odd) {
    flex-direction: row;
  }

  .portfolio-list:nth-child(even) {
    flex-direction: row-reverse;
  }

  .portfolio-blockimg {
    flex: 0 0 638px;
    height: 650px;
  }

  .portfolio-description {
    padding: 0px 90px;
    border-left: none;
    border-right: none;
  }

  .portfolio-list:nth-child(odd) .portfolio-description {
    border-right: 1px solid var(--text-colorwh);
  }

  .portfolio-list:nth-child(even) .portfolio-description {
    border-left: 1px solid var(--text-colorwh);
  }
}
