.container {
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

// 480+
@media screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 100%;
    width: 480px;
  }
}

// 768+
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

// 1200+
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
